# Difference Between fit(), transform(), fit_transform() and predict() methods

![](diff.png)

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('heart.csv',usecols=['age','trestbps','chol','target'])
df.head()

   age  trestbps  chol  target
0   63       145   233       1
1   37       130   250       1
2   41       130   204       1
3   56       120   236       1
4   57       120   354       1

In [4]:
df.isnull().sum()

age         0
trestbps    0
chol        0
target      0
dtype: int64

In [5]:
X = df.iloc[:,:-1]
X

     age  trestbps  chol
0     63       145   233
1     37       130   250
2     41       130   204
3     56       120   236
4     57       120   354
..   ...       ...   ...
298   57       140   241
299   45       110   264
300   68       144   193
301   57       130   131
302   57       130   236

[303 rows x 3 columns]

In [8]:
y = df.iloc[:,-1]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state= 3)

In [10]:
X_train

     age  trestbps  chol
130   54       160   201
57    45       115   260
155   58       130   197
75    55       135   250
237   60       140   293
..   ...       ...   ...
277   57       124   261
256   58       128   259
131   49       134   271
249   69       140   254
152   64       170   227

[203 rows x 3 columns]

https://youtu.be/BotYLBQfd5M